# Unwanted files
target
.cache/
.parcel-cache/
public/build/

# Backup files
.DS_Store
thumbs.db
*~
*.rs.bk
*.swp
.vscode/

backups/
saved_relms/
server/relm-data/
server/assets/
server/tmp/
node_modules/
