.translucent {
  opacity: 0.3;
}
.mobile > img {
    position: relative;
}
#game, .mobile > img {
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.button {
  font-size: 18px;
  border-radius: 8px;
  border: 3px solid #efaa22;
  background: #eee;
  color: #333;
  padding: 5px 10px;
  
  cursor: pointer;
}
.button:hover {
  background: #fff;
  border-color: #ef9911;
}

/*
  Thought Bubble CSS
  
  Note that .circle-text requires the following:
  - a div with class 'circle-text'
  - a span inside that div
  
  The outer span should also contain the following style properties:
    width: $radius*2;
    height: $radius*2;
*/
.thought-bubble.centered {
  transform: translate(-50%, -100%);
  justify-content: center;
}
.thought-bubble.centered .speech-text {
  /* TODO: separate this into attribute other than `centered` */
  color: white;
  background-color: #444;
  border: 2px solid white;
}
.thought-bubble {
  display: flex;
  position: absolute;
  transform: translate(0,-100%);
  z-index: 1;
}
.thought-dot-1 { /* smallest circle: closest to head */
  position: absolute;
  transform: translate(-50%,-50%);
  z-index: 1;
  border: 2px solid #555;
  background-color: white;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  left: -25px;
  bottom: 20px;
  opacity: 0.9;
}
.thought-dot-2 { /* small circle: between smallest circle & thought bubble */
  position: absolute;
  transform: translate(-50%,-50%);
  z-index: 1;
  border: 2px solid #555;
  background-color: white;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  left: -10px;
  bottom: 18px;
  opacity: 0.9;
}
.speech-text {
  border: 2px solid #555;
  background-color: white;
  font: 14px sans-serif;
  opacity: 0.9;
  flex-shrink: 0;
}
.thought-bubble.centered .speech-text a,
.thought-bubble.centered .speech-text:visited {
  text-decoration: none;
  font-weight: bold;
  color: #f54;
}
.speech-text a, .speech-text:visited {
  text-decoration: none;
  font-weight: bold;
  color: #f54;
}
.rectangle-text {
  text-align: center;
  word-wrap: break-word;
  overflow-y: auto;
  border-radius: 7px;
  text-align: left;
  padding: 10px;
  max-width: 300px;
  max-height: 300px;
}
.circle-text-center {
  position: relative;
  top: 25%;
}
.circle-text {
  border-radius: 100%;
  text-align: center;
  padding: 5px;
  overflow: hidden;
  max-width: 300px;
  max-height: 300px;
}
.circle-text::before{
  content: '';
  height: 100%;
  width: 50%;
  float: left;
  shape-outside: polygon(
    0 0, 100% 0, 60% 4%, 40% 10%, 20% 20%, 10% 28.2%, 5% 34.4%, 0 50%,
    5% 65.6%, 10% 71.8%, 20% 80%, 40% 90%, 60% 96%, 100% 100%, 0 100%
  );
}
.circle-text > span::before{
  content: '';
  height: 100%;
  width: 50%;
  float: right;
  shape-outside: polygon(
    100% 0, 0 0, 40% 4%, 60% 10%, 80% 20%, 90% 28.2%, 95% 34.4%, 100% 50%,
    95% 65.6%, 90% 71.8%, 80% 80%, 60% 90%, 40% 96%, 0 100%, 100% 100%
  );
}
/* close button */
.thought-bubble-close {
  opacity: 0.9;
}
.circle-text + .thought-bubble-close {
  right: 0px;
  top: 0px;
}
.rectangle-text + .thought-bubble-close {
  right: -15px;
  top: -15px;
}
/* action button */
.thought-bubble-action:after {
  content: 'G';
  padding: 5px;
}
.thought-bubble-action {
  opacity: 0.9;
  
  position: absolute;
  z-index: 1;
  border: 2px solid #aaa;
  background-color: white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  right: -10px;
  top: 30px;
}
.circle-text + .thought-bubble-action {
  right: 0px;
  top: 40px;
}
.rectangle-text + .thought-bubble-action {
  right: -15px;
  top: 25px;
}

.offscreen-indicator-label {
  opacity: 0.6;
  background-color: #fff;
  border-radius: 4px;
  padding: 0px 8px 2px 8px !important;
  text-shadow: 0px 0px 5px #fff !important;
  color: #111 !important;
}
.entity-label.editing {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
}
.entity-label {
  position: absolute;
  transform: translate(-50%, -50%);
  display: ruby;
  color: #e5e5e5;
  letter-spacing: 1.0px;
  font-weight: bold;
  text-shadow: 0px 0px 3px #000;
  padding-left: 5px;
  padding-right: 5px;
}

/* CSS-only "Close" button with icon */
.close {
  position: absolute;
  z-index: 1;
  border: 2px solid #aaa;
  background-color: white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
}
.close:before, .close:after {
  position: absolute;
  left: 12px;
  top: 2px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #aaa;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

#control-button { fill: black; }
#control-button.pressed { fill: #ff0000; }

#control-pad {
  width: 18em;
  height: 18em;
  position: fixed;
  left: 0.5em;
  margin-top:-18.5em;
}

#control-pad .pad-top { fill: #ffffff; }
#control-pad .pad-top.pressed { fill: #ff0000; }

#control-pad .pad-right { fill: #ffffff; }
#control-pad .pad-right.pressed { fill: #ff0000; }

#control-pad .pad-bottom { fill: #ffffff; }
#control-pad .pad-bottom.pressed { fill: #ff0000; }

#control-pad .pad-left { fill: #ffffff; }
#control-pad .pad-left.pressed { fill: #ff0000; }

.mobile { display: none; }
@media (any-pointer: coarse) {
  .mobile { display: block !important; }
}
@media (any-hover: none) {
  .mobile { display: block !important; }
}

.front {
  z-index: 99;
}

#progress-bar {
  position: absolute;
  height: 20px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  text-align: center;
}
#progress-bar > div {
  position: absolute;
  border-radius: 2.5px;
  background-color: #f54;
  left: 0px;
  height: 100%;
  text-align: center;
  text-emphasis: bold;
  overflow: hidden;
}

#typing {
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.8;
  z-index: 99;
  padding: 4px 10px;
  background-color: #555;
  display: flex;
}
#typing:focus-within {
  background-color: #eee;
}
#typing:focus-within::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  box-shadow: inset 0px 0px 12px #fe9;
}
#typing > input::placeholder {
  color: white;
}
#typing:focus-within > input::placeholder, #typing:focus-within > input {
  color: black;
  background-color: #eee;
}
#typing > input {
  font-size: 24px;
  border: 2px solid #111;
  color: white;
  background-color: #555;
  padding: 4px 10px;
  flex-grow: 1;
}
/* easier to read font size on mobile */
@media only screen and (max-width: 900px) {
  #typing > input {font-size:24px !important;}
}
/* smaller controls on desktop touch screens */
@media only screen and (min-width: 900px) {
  #control-pad {font-size:12px !important;}
  #control-button {font-size:12px !important;}
}
/* medium controls on mobile touch screens */
@media only screen and (max-width: 900px) {
  #control-pad {font-size:8px !important;}
  #control-button {font-size:8px !important;}
}
.bold-p {
  font-weight: bold;
} 
.welcome-settings {
  padding: 15px;
  border-radius: 10px;
}
.welcome-settings > div {
  margin-bottom: 15px;
}

.sign-message {
  color: #421;
  text-align: center;
  font-size: 18pt;
  height: 90px;
}
.chat-message {
  border: 2px solid black;
  padding: 15px;
  background-color: white;
  color: black;
  opacity: 0.8;
  border-radius: 8px;  
  height: 30px;
}

#game:focus-within::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  box-shadow: inset 0px 0px 12px #fe9;
}

#press-tab-help {
  position: absolute;
  bottom: 80px;
  left: 50px;
  font-size: 28px;
  font-weight: bold;
  color: #efaa22;
  border: 5px solid #efef22;
  border-radius: 8px;
  background-color: gray;
  padding: 10px 25px;
  display: none;
}
#press-tab-help.show {
  display: block;
  animation: fadein 0.5s, bounce 0.5s infinite alternate;
  /* animation-delay: 0.0s, 0.5s; */
}
#press-tab-help.hide {
  display: block;
  animation: fadeout 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  from { opacity: 0.0; }
  to { opacity: 1.0; }
}
@keyframes fadeout {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}
@keyframes bounce {
  from { transform: translateY(0px); }
  to { transform: translateY(-15px); }
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right { transform: rotate(-45deg) scale(2); }
.left { transform: rotate(135deg) scale(2); }
.up { transform: rotate(-135deg) scale(2); }
.down { transform: rotate(45deg) scale(2); }

#right-panel {
  position: fixed;
  top: 20px;
  right: 20px;
  max-height: 100%;
  z-index: 3;
  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#invitation.show {
  display: block;
}
#invitation-input {
  width: 200px;
}


#help-panel {
  overflow-y: auto;
  max-width: 600px;
}
#help-panel h2 {
  margin-top: 45px;
}
#help-panel div {
  margin-bottom: 45px;
}
#help-panel p {
  margin-top: 5px;
  margin-bottom: 5px;
}
#help-panel pre {
  font-size: 16px;
  background-color: #e0e0e0;
  padding: 3px 5px;
  margin-left: 30px;
}
#help-panel pre.inline {
  margin-left: 0px !important;
  display: inline;
}

.panel-button {
  margin-top: 5px;
}
.panel-subpanel {
  display: none;
  padding: 5px 10px;
  margin-top: 5px;
  background: #fff;
  border-radius: 4px;
}
.panel-subpanel.show {
  display: block;
}


#previews {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  position: absolute;
  display: none;
}
#previews.show {
  display: block;
}

.video-wrapper {
  position: absolute;
  transform: translate(-50%, -100%);
}
.video-wrapper.show {
  animation: fadein 0.5s;
}
.video-wrapper.hide {
  animation: fadeout 0.5s;
  animation-fill-mode: forwards;
}
.video-circle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid white;
  overflow: hidden; 
  background-color: #ddd;
  position: relative;
  z-index: 1;
}
.video-feed {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%); 
}
.video-feed.local {
  transform: translate(-50%,-50%) rotateY(180deg); 
}
.mute-button {
  background: white center no-repeat url(./icons/unmuted.png);
  background-size: 16px 16px;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  bottom: -8px;
  border: 2px solid white;
  border-radius: 18px;
  z-index: 1; 
}
.mute-button.muted {
  background-image: url(./icons/muted.png)
}

#import-export {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  right: 10%;
  bottom: 80px;
  left: 10%;
  z-index: 4;
  background-color: #fff;
}
#import-export > textarea {
  resize: none;
  flex-grow: 1;
  padding: 15px;
  border: none;
  border-bottom: 2px solid #999;
}
#import-export > .button-panel {
  margin: 10px 15px;
  display: flex;
  justify-content: flex-end;
}
#import-export .button {
  margin-left: 10px;
}
#import-export input[type=checkbox] {
  width: 35px;
  height: 35px;
}
#import-export #export-only-selected {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

#avatars {
  position: absolute;
  padding-top: 80px;
  padding-bottom: 80px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  z-index: 4;
}
#avatars .title {
  font-size: 22px;
  font-weight: bold;
  padding: 20px;
}
#avatars .avatars-row {
  min-width: 380px; max-width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#avatars button {
  padding: 8px;
}
#avatars button.f img {
  border-bottom: 3px solid pink;
}
#avatars button.m img {
  border-bottom: 3px solid #66bbff;
}
#avatars img {
  width: 75px;
  height: 172px;
}
#avatars > .button-panel {
  margin-top: 10px;
  padding-bottom: 100px;
  display: flex;
  justify-content: flex-end;
}
#avatars .button {
  margin-left: 10px;
  margin-top: 15px;
}

.info-title {
  text-align: center;
  background: #eee;
  padding: 10px 30px;
  color: #444;
  border-radius: 3px;
  margin-bottom: 15px;
}
.info-type {
  font-size: 18pt;
  font-weight: bold;
}
.info-uuid {
  font-size: 10pt;
}
.info-group {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.info-attr {
  display: flex;
  flex-direction: row;
}
.info-label {
  margin-right: 15px;
  text-decoration: underline;
}
.info-attr-key {
  margin-left: 30px;
  margin-right: 10px;
}
.info-attr-value a {
  color: white;
}